.arrow {
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px;
}

/*.arrow {
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}*/

/* Below small devices having width up to 576px */

@media (max-width: 576px) {
    .page-title {
        display: block;
    }
    .arrow .page_head {
        font-size: 26px;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .arrow {
        height: 50px;
        padding: 10px 5px;
        color: #fff;
        font-size: 20px;
        font-weight: revert;
        text-transform: uppercase;
        text-align: center;
    }
    .page_icon {
        font-size: 28px;
    }
}

/* For Small devices having width above 576px */

@media (min-width: 576px) {
    .page-title {
        position: absolute;
        right: 10px;
        top: -4px;
    }
    .arrow .page_head {
        font-size: 26px;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .arrow {
        height: 43px;
        padding: 2px 2px 0px 22px;
        color: #fff;
        position: relative;
        font-size: 20px;
        text-transform: uppercase;
    }
    .page_icon {
        position: absolute;
        left: -21px;
        font-size: 28px;
        top: -2px;
    }
}

/* For Large devices having width above 576px */

@media (min-width: 992px) {
    .page-title {
        position: absolute;
        right: 21px;
        top: 6px;
    }
    .arrow .page_head {
        font-size: 34px;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .arrow {
        height: 65px;
        padding: 2px 40px 0px 62px;
        color: #fff;
        position: relative;
        text-align: left;
    }
    .page_icon {
        position: absolute;
        left: -8px;
        font-size: 49px;
        top: -13px;
    }
}